.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build-*
.cache
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.LSOverride
.netlify
.npmrc
.nuxt
.nyc_output
.output
.pnp
.pnp.js
.pnpm-debug.log*
.temp
.tmp
.turbo
.vercel_build_output
.vscode
*.iml
*.lcov
*.log*
*.pem
**/.yarn/*state*
**/.yarn/cache
build/
coverage
dist
dist/
lerna-debug.log
local
Network Trash Folder
node_modules
npm-debug.log*
pnpm-lock.yaml
reports
Temporary Items
yarn-debug.log*
yarn-error.log*
yarn.lock